.page-dark{
    background-color: #111111;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
.page-title-link-ra-dark{
    color: #f2f3f4;
}
.nav-bar-box-dark{
    border: white 1px solid;
}
.nav-bar-element-dark:hover{
    height: 20px;
    background-color: #1f1f1f;
    border-radius: 20px;
    border: white 1px solid;
}
.aside-box-dark{
    border: #f2f3f4 1px solid;
    border-radius: 10px;
    background-color: #35444F;
}
.aside-box-text-dark{
    color: #f2f3f4;
    border-radius: 10px;
    border: #f2f3f4;
}
.aside-box-text-dark:hover{
    background-color: #1f1f1f;
    color: #f2f3f4;
    border: #f2f3f4 1px solid;
}
.text-description-dark{
    color: #f2f3f4;
}
.picture-box-dark{
    border: #f2f3f4 5px solid;
    border-radius: 20px;
    background-color: #35444F;
}
.footer-box-dark{
    border: #f2f3f4 3px solid;
    border-radius: 20px;
}
.main-image-dark{
    filter: invert(100%);
}